body {
  /* color:black; */
  font-family: 'LinuxLibertineDisplayRegular';
  color: #444444;
  background-color: white;
  font-size: 24px;
}

h1 {
    font-family: 'LinuxLibertineORegular'; 
    font-size: 40px;
    color: #000000;
    /* margin-bottom: 5px; */
}

h2 {
    font-family: 'LinuxLibertineSemibold'; 
    font-size: 30px;
    color: #000000;
    text-align: center;
}

h2 {
    font-family: 'LinuxLibertineSemibold'; 
    font-size: 30px;
    color: #000000;
    text-align: center;
}

h3 {
    font-family: 'LinuxLibertineSemibold'; 
    font-size: 24px;
    color: #000000;
    text-align: center;
}

h4 {
    color: #000000;
    font-weight: normal;
    margin-bottom: 2px;
    text-align: center;
}

table, th, td {
  border: 0px solid black;
  vertical-align: middle;
  text-align: center;
  /*border-collapse: collapse;*/
  /*border-spacing: 0;*/
}

th {
    font-family: 'LinuxLibertineDisplayRegular'; 
    font-size: 24px;
}

td {
    font-family: 'LinuxLibertineDisplayRegular'; 
    font-size: 24px;
}

a:link {color: #000000; text-decoration: none; }
a:active {color: #000000; text-decoration: none; }
a:visited {color: #000000; text-decoration: none; }
a:hover {color: #000000; text-decoration: underline; }

.titlesection {
  text-align: center;
  width:1000px;
  margin-bottom: 15px;
}

.textsection {
  margin: auto;
  text-align: justify;
  width:1000px;
  margin-bottom: 80px;
}

.biosection {
  margin: auto;
  text-align: justify;
  width:1000px;
  height: 220px;
}

.vgap{
  width:1000px;
  height:30;
}

.biohgap {
  float: left;
  overflow: hidden;
  height: 200px;
  width: 50px;
}

.biotext {
  overflow: hidden;
  height: 200px;
  margin-top: 7px;
  /* width: 750px; */
}

.circularImage {
  border-radius: 50%;
}


#container_organizers {
  width: 700px;
  text-align: justify;
  -ms-text-justify: distribute-all-lines;
  text-justify: distribute-all-lines;
  margin-bottom: 80px;
}

#container_speakers {
  width: 1000px;
  text-align: justify;
  -ms-text-justify: distribute-all-lines;
  text-justify: distribute-all-lines;
  margin-bottom: 80px;
}

.box {
  width: 180px;
  text-align: center;
  vertical-align: top;
  display: inline-block;
  *display: inline;
  zoom: 1
}

.stretch {
  width: 100%;
  display: inline-block;
  font-size: 0;
  line-height: 0
}


@font-face {
    font-family: 'LinuxLibertineORegular';
        src: url('/assets/fonts/linux-libertine/41c74aace28c60327320360d9fca54c0/11d4fa539d6b57ce79865ebd9ee78b14/LinuxLibertineBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
      }

@font-face {
    font-family: 'LinuxLibertineDisplayRegular';
        src: url('/assets/fonts/linux-libertine/41c74aace28c60327320360d9fca54c0/e5a8dd611a88bf321b8de25747578e44/LinuxLibertineDisplayRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
      }

@font-face {
    font-family: 'LinuxLibertineORegular';
        src: url('/assets/fonts/linux-libertine/41c74aace28c60327320360d9fca54c0/988f66c65b10dd49d02579bed6e3aa74/LinuxLibertineORegular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
      }

@font-face {
    font-family: 'LinuxLibertineSemibold';
        src: url('/assets/fonts/linux-libertine/41c74aace28c60327320360d9fca54c0/0305b8a162ed85c958b471d756dc6309/LinuxLibertineSemibold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
      }
