/* h1 { font-family: "Open Sans"; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px; }
h3 { font-family: "Open Sans"; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; }
p { font-family: "Open Sans"; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; }
blockquote { font-family: "Open Sans"; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; }
pre { font-family: "Open Sans"; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.5714px; } */

body {
    font-family: 'Open Sans';
    color: #444444;
    background-color: white;
    font-size: 22px;
    font-weight: 100;
}

h1 {
    font-family: 'Open Sans'; 
    font-weight: 100;
    font-size: 40px;
    color: #000000;
  }
  
  h2 {
    font-family: 'Open Sans'; 
    font-weight: 100;
    font-size: 30px;
    color: #000000;
    text-align: center;
  }
  
  h3 {
    font-family: 'Open Sans'; 
    font-weight: 100;
    font-size: 30px;
    color: #000000;
    text-align: center;
  }
  
  h4 {
    color: #000000;
    font-weight: normal;
    margin-bottom: 2px;
    text-align: center;
  }

table, th, td {
    border: 0px solid black;
    vertical-align: middle;
    text-align: center;
}

th {
    font-family: 'Open Sans'; 
    font-size: 28px;
    height: 50px;
    font-weight: 100;
  }
  
  td {
    font-family: 'Open Sans'; 
    font-size: 20px;
    height: 50px;
    font-weight: 100;
  }

a:link {color: #000000; text-decoration: none; }
a:active {color: #000000; text-decoration: none; }
a:visited {color: #000000; text-decoration: none; }
a:hover {color: #000000; text-decoration: underline; }

.titlesection {
  text-align: center;
  width:1000px;
  margin-bottom: 15px;
}

.textsection {
  margin: auto;
  text-align: justify;
  width:1000px;
  margin-bottom: 80px;
}

.biosection {
  margin: auto;
  text-align: justify;
  width:1000px;
  height: 220px;
}

.vgap{
  width:1000px;
  height:30;
}

.biohgap {
  float: left;
  overflow: hidden;
  height: 200px;
  width: 50px;
}

.biotext {
  overflow: hidden;
  height: 200px;
  margin-top: 7px;
  /* width: 750px; */
}

.circularImage {
  border-radius: 50%;
}


#container_organizers {
  width: 700px;
  text-align: justify;
  -ms-text-justify: distribute-all-lines;
  text-justify: distribute-all-lines;
  margin-bottom: 80px;
}

#container_speakers {
  width: 800px;
  text-align: justify;
  -ms-text-justify: distribute-all-lines;
  text-justify: distribute-all-lines;
  margin-bottom: 20px;
}

#container_speakers_3 {
  width: 600px;
  text-align: justify;
  -ms-text-justify: distribute-all-lines;
  text-justify: distribute-all-lines;
  margin-bottom: 20px;
}

.box {
  width: 180px;
  text-align: center;
  vertical-align: top;
  display: inline-block;
  *display: inline;
  zoom: 1
}

.stretch {
  width: 100%;
  display: inline-block;
  font-size: 0;
  line-height: 0
}
/* 

@font-face {
    font-family: 'LinuxLibertineORegular';
        src: url('/assets/fonts/linux-libertine/41c74aace28c60327320360d9fca54c0/11d4fa539d6b57ce79865ebd9ee78b14/LinuxLibertineBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
      }

@font-face {
    font-family: 'LinuxLibertineDisplayRegular';
        src: url('/assets/fonts/linux-libertine/41c74aace28c60327320360d9fca54c0/e5a8dd611a88bf321b8de25747578e44/LinuxLibertineDisplayRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
      }

@font-face {
    font-family: 'LinuxLibertineSemibold';
        src: url('/assets/fonts/linux-libertine/41c74aace28c60327320360d9fca54c0/0305b8a162ed85c958b471d756dc6309/LinuxLibertineSemibold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
      } */
